body {
  font-family: "Inconsolata", monospace;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
}

.arbitrage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 300px 300px;
}

.arbitrage > .place {
  border: 2px solid #fff;
  padding: 30px;
  font-size: 18px;
}

.rate-wrapper input {
  padding: 15px;
  font-size: 20px;
  border: 2px #fff solid;
}

.rate-wrapper select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 0px;
  border: 2px #fff solid;
}

.info-header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 400px 400px;
}

.info-text a {
  text-weight: bold;
  color: white;
}
